<div class="col-6 container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="bg-light"
        style="background-image: url('assets/img/RainbowPls.gif'); background-size: cover;">
      </div>
      <mat-card-title>Display name</mat-card-title>
      <mat-card-subtitle>Username</mat-card-subtitle>
    </mat-card-header>
    <!--Add img tag here/create specifice img post component-->
    <mat-card-content>
      <P>Post text goes here</P>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="Like()">
        <mat-icon>thumb_up</mat-icon>
      </button>{{likes}}
    </mat-card-actions>
  </mat-card>
</div>