<div class='col-4 pt-2 container'>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Edit Info</mat-card-title>
    </mat-card-header>
    <div class='pl-4 pr-5 align-items-center'>
      <form [formGroup]="editGroup">
        <mat-form-field style="width:100%;">
          <input #FirstName matInput type="text" placeholder="First Name" formControlName="first_name" minlength="1" />
        </mat-form-field>

        <mat-form-field style="width:100%;">
          <input #LastName matInput type="text" placeholder="Last Name" formControlName="last_name" minlength="1" />
        </mat-form-field>

        <mat-form-field style="width:100%;">
          <input #Email matInput type="email" placeholder="email@gmail.com" formControlName="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
          <!--Check that it has "@"-->
        </mat-form-field>

        <mat-form-field style="width:100%;">
          <input #Username matInput type="text" placeholder="Username" formControlName="username" minlength="8"
            maxlength="12" />
        </mat-form-field>
      </form>
      <a routerLink='reset'>Reset Password</a>
    </div>

    <div *ngIf="editSubmitted">
      <mat-error *ngIf="registerGroup.controls.email.errors">Invalid Email</mat-error>
      <mat-error *ngIf="registerGroup.controls.username.errors">Username should be at least 8 or more characters
      </mat-error>
    </div>
    <mat-card-actions align="end">
      <button mat-raised-button [disabled]='this.editGroup.invalid' (click)="Update()" color='warn'>Save</button>
    </mat-card-actions>
  </mat-card>
</div>