<div id="profile" class="col-9 mt-4 container justify-content-center bg-dark">
  <div class='p-3'>
    <div class='row'>
      <div class='col-2'>
        <div class='row'> <img [src]='profilePicUrl' class="rounded-circle bg-light" height="128" width="128"></div>
        <div class='row'>
          <h5 style="color: #f44336;">{{user.first_name}}</h5>
          <button mat-icon-button (click)='toggleEdit()'>
            <mat-icon color=accent>edit</mat-icon>
          </button>
        </div>
        <div class='row'>
          <h6 class='pl-2 text-secondary'>{{user.username}}</h6>
        </div>
      </div>
      <div class="col border border-light">
        Content
      </div>
    </div>
  </div>
</div>
<app-post-feed *ngIf='!edit'></app-post-feed>
<app-edit-info *ngIf='edit'></app-edit-info>